html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: courier;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.project-btn {
    display: inline;
    padding: 0px;
    /* background-color: transparent; */
    outline: none !important;
}

.project-container {
    position: relative;
    align-items: center;
    display: flex;
}

.project-image {
    display: inline;
    max-width:400px;
    max-height:200px;
    width: auto;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
}

.gallery-image {
    display: inline-block;
    max-width:400px;
    max-height:200px;
    width: auto;
    height: auto;
    margin: 10px;
    /* border: 1px solid #ccc; */
}
